/* CSS files add styling rules to your content */


/* fonts supplied with Adobe TypeKit
@font-face {
    font-family: HealTheWeb;
    src: url("/HealTheWebA-Regular.otf");
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: arlette, helvetica, arial, sans-serif;
  font-weight: 300;
  margin: 2em;
}

h1 {
  font-style: bold;
  color: #373fff;
}

img[alt="markdown-image"] {
  width="100px"
  height="100px"
}